<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--If you want to use global package, remove the <clear/> line below -->
    <!-- <clear /> -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="ggg-alpha" value="https://nuget.pkg.github.com/ggg-alpha/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <ggg-alpha>
      <add key="Username" value="PUT_YOUR_GITHUB_USERNAME" />
      <add key="ClearTextPassword" value="PUT_YOUR_GITHUB_PRIVATE_ACCESS_TOKEN" />
    </ggg-alpha>
  </packageSourceCredentials>
</configuration>
