.scoped-injector {
    /* padding: 10px; */
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #9b9b9b;

    position: absolute;
    bottom: 0;
    right: 0;

    font-family: Arial, sans-serif;
    font-size: 14px;
}

.scoped-injector span {
    /* font-weight: bold; */
    color: #abffae;
}
