.pocco_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: auto;
    height: 100%; */
    fill: currentColor;
    overflow: hidden;

    .bi::before {
        width: auto;
        height: 100%;
    }

    img {
        width: auto;
        height: calc(100% - 10px);
    }
}

.pocco_icons:hover {
    opacity: 0.8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
